<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "https://aeternia-ua.github.io/SMM-Simulator/"
    id          = "io.github.aeternia-ua/SMM-Simulator" 
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>SMM Simulator</name>

  <description>
      Інтерактивна гра "SMM-симулятор".
  </description>

  <author href="https://build.phonegap.com" email="gherasymuk@gmail.com">
      Ірина Герасимук
  </author>
  
<platform name="ios">
    <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
        <string>to take pictures/scan barcodes</string>
    </edit-config>
    <edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge">
        <string>to get pictures</string>
    </edit-config>
</platform>
<platform name="android" />
<platform name="winphone" />
  
  <icon src="icon.png" platform="android" width="180" height="180" />
<icon src="icon.png" platform="ios" width="180" height="180" />
   
</widget>
